body.product-detail-page {
  background-color: rgba(217, 217, 217, 0.3);
}

.ProductDetail {
  background-color: #2D2D2D;
}

.Card2 {
  width: 20.625rem;
  height: 19.0625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(227, 159, 11, 1);
  overflow: hidden;
  margin: 3rem;
  text-align: center;
}

.ProductDetail__detail img {
  border-radius: 0.5rem;
}

.ProductDetail__detail h1 {
  font-size: 0.9375rem;
  font-weight: lighter;
  padding-top: 1.25rem;
}

#line {
  width: 23.75rem;
  border-bottom: 0.0625rem solid #E39F0B;
  margin: 4.375rem 6.875rem;
}

.ProductDetail__detail h4 {
  width: 15.625rem;
  font-size: 0.9375rem;
  margin: -1.875rem 5.625rem;
  font-weight: lighter;
  color: #555;
}

.ProductDetail__detail {
  position: absolute;
  width: 70.25rem;
  height: 40rem;
  left: 8.625rem;
  top: 8.125rem;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 3.125rem;
  background-color: #FFFFFF;
  padding: 3.125rem;
}

.ProductDetail__cart {
  position: absolute;
  width: 24.5rem;
  height: 1.25rem;
  left: 36.375rem;
  top: 11.25rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: center;
  color: hsl(41, 91%, 47%);
}

.ProductDetail__cart h3 {
  position: absolute;
  width: 31.25rem;
  height: 1.25rem;
  top: 3.75rem;
  left: 3.125rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.25rem;
  text-align: center;
  color: #2D2D2D;
}

.ProductDetail__cart h4 {
  position: absolute;
  width: 11.3125rem;
  height: 1.25rem;
  left: 6.25rem;
  top: 8.4375rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25rem;
  text-align: center;
  color: #2D2D2D;
}

.ProductDetail__cart-buttons button:nth-child(1) {
  position: absolute;
  width: 21.1875rem;
  height: 3.3125rem;
  left: 12.5rem;
  top: 14rem;
  background: #E39F0B;
  border-radius: 0.50rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
}

.ProductDetail__cart-buttons button:nth-child(2) {
  position: absolute;
  width: 21.1875rem;
  height: 3.3125rem;
  left: 12.5rem;
  top: 19rem;
  background: rgba(103, 103, 103, 0.6);
  border-radius: 0.50rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
}



@media screen and (min-width: 320px) and (max-width:480px) {
  .ProductDetail__detail {
    width: 300px;
    left: 10px;
  }
  
  .Card2 {
    margin-left: 10px;
    margin-top: 5px;
    width: 200px;
  }

  #info1 {
    margin-left: 3px;
  }

  .ProductDetail__cart {
    margin-left: -650px;
    margin-top: 400px;
  }

  .ProductDetail__cart h2 {
   font-size: 20px;
  }

  .ProductDetail__cart h3{
    font-size: 20px;
    margin-left: -100px;
  }

  #line {
    width: 15rem;
}

.ProductDetail__cart-buttons button:nth-child(1){
  width: 200px;
  left: 8rem;
}

.ProductDetail__cart-buttons button:nth-child(2){
  width: 200px;
  left: 8rem;
}
}